@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
